/* HTML Global CSS */

body {
    font-family: 'Oswald', sans-serif;
}


/* CONTENT CONTAINERS */

.cd-gallery li {
    background: white;
    padding: 1em;
}


/* Global Class CSS */

.cd-header {
    background: #a10022;
}


/* Grid View */

.grid li.mix p {
    display: none;
}

.grid li.mix:hover p {
    display: block;
}


/* List View */

.list li.mix {
    width: 100%;
}

.list li.mix p {
    display: none;
}

.list li.mix:hover p {
    display: block;
}


/* Fliter */

.cd-filter .cd-close {
    background: red;
}

.cd-filter:hover .cd-close:hover {
    background: red;
}

.cd-filter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #000000;
    z-index: 2;
}

li .mix {
    background: red;
}

p {
    font-weight: 300;
    font-family: sans-serif;
}

#course {
    display: inline-block;
}

.cd-gallery img {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    display: block;
    float: right;
    opacity: 1;
    right: 0%;
    display: none;
}

.curtainUp img {
    display: block;
}

.curtainDown img {
    display: block;
}

.mix:hover {
    max-height: 15em;
}

.mix {
    max-height: 4em;
    overflow: hidden;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}


/* Pre-reqs, Course Number, CRN, Description,